$grey-100: #30323B;
$grey-200: #292B33;
$white-100: #FFFFFF;
$white-200: #C1C1C4;
$black-100: #000000;
$black-200: #7C7D76;

$ascent: #BCCF00;

$administrativo: #1D70B7;
$documentacao: #617E23;
$solucoes: #E73331;
$eventos: #BCCF00;
$gerenciamento: #D8B200;